  <div id="navWrap"> <!-- begin navbar -->
  <div id="nav">
  <ul>
  <li><a href="/" id="megaanchor1">About</a>
  <div id="megamenu1" class="megamenu">		
  <div class="column">
  <ul>
  <li><a href="/">About MarketingCamp</a></li>
  <li><a href="/">Mission</a></li>
  <li><a href="/">Leadership Team</a></li>
  <li><a href="/">Our Sponsors</a></li>
  <li><a href="/">Our Partners</a></li>
  </ul>
  </div>
  
  </div>
  </li>		
  <li><a href="/" id="megaanchor2">Events</a>
  <div id="megamenu2" class="megamenu">		
  <div class="column">
  <ul>
  <li><a href="/">Event Overview</a></li>
  <li><a href="/">What to Expect</a></li>
  <li><a href="/">What to Bring</a></li>
  <li><a href="/">More FAQs</a></li>
  <li><a href="/">Session Schedule</a></li>
  </ul>
  </div>
  </div>
  </li>
  <li><a href="/" id="megaanchor3">Cities</a>
  <div id="megamenu3" class="megamenu">		
  <div class="column">
  <ul>
  <li><a href="/">How to Propose a Topic</a></li>
  <li><a href="/">Vote on Topics</a></li>
  <li><a href="/">Sign Up to Volunteer</a></li>
  <li><a href="/">Become a Sponsor</a></li>
  <li><a href="/">Spread the Word</a></li>
  <li><a href="/">Start Your Own Camp</a></li>
  </ul>
  </div>
  </div>
  </li>
  <li><a href="/" id="megaanchor4">Groups</a>
  <div id="megamenu4" class="megamenu">		
  <div class="column">
  <ul>
  <li><a href="/">Social Mediakit</a></li>
  <li><a href="/">Press Releases</a></li>
  <li><a href="/">News &amp; Updates</a></li>
  </ul>
  </div>
  </div>
  </li>
  <li><a href="/">Giveaways</a></li>
  <li><a href="/">What&#8217;s New</a></li>
  <li><a href="/" target="_blank">Sponsors</a></li>
  <li><a href="/" target="_blank">Join <img src="img/arrow.png" width="8" height="12" alt=""></a></li>
  </ul>
  
  </div> <!-- end nav -->
  </div> <!-- end navWrap -->
