<h2>Our Next Event</h2>

<table summary="Event Info" class="tblStyle">
	<tbody>
		<tr>
			<td width="35%"><strong>DATE:</strong></td>
			<td width="65%">2/3/2014</td>
		</tr>
		<tr>
			<td><strong>TIME:</strong></td>
			<td>232323</td>
		</tr>
		<tr>
			<td><strong>LOCATION:</strong></td>
			<td>2323232323</td>
		</tr>
	</tbody>
</table>

{% include 'CampsiteEventBundle::googlemap.html.twig'  %}
<br class="clr">
<hr>
